@model Blogger.Models.PostCollection
@{
    ViewBag.Title = "Profile";
}


<div class="pull-left"><h2>@ViewBag.Title</h2> </div>
<br />
    <div class="pull-right ">
        @Html.ActionLink("","NewPost", "Post",  new { test = 0 }, new { @class = "btn btn-primary btn-lg glyphicon glyphicon-plus pull-right" })
       
  </div>
    <br /><br/><br/>
    <div>
            <ol>
                @foreach (Blogger.Models.Post post in Model.AllPosts)
                {


                    <li>
                        
                        <strong> @Html.ActionLink(post.Title, "SinglePost", "Post", new { slug = post.Slug }) </strong> <br>
                        <form asp-controller="Post" asp-action="DeletePost">
                            <button type="submit" class="btn btn-default btn-danger glyphicon glyphicon-trash"> </button>
                            <input name="id" value="@post.PostId" hidden />
                        </form>
                        <br>
                    </li>
                }
  
            </ol>

        </>
    </div>


    <center>
        <a asp-controller="Manage" asp-action="Index" title="Manage">Manage Account</a>
    </center>




